body{
	font-family: 'Open Sans', sans-serif;
	background: repeating-linear-gradient(
	  -45deg,
	  #F6F6F6,
	  #F6F6F6 5px,
	  #fff 5px,
	  #fff 10px
	);
}

dd{
	font-size: 16px;
}

.jumbotron{
	  background: linear-gradient(to bottom right, #222, #333 ); /* Standard syntax */	
}

.jumbotron h1{
	color: #eee;
}

.jumbotron p{
	color: #eee;
}

/*Nav*/
.nav li a{
	outline: 0;
	font-size: 18px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #eee;
  background-color: #0c905d;
}

.nav-pills > li > a:visited{
	text-decoration: none;
	color: #eee;
}

.nav-pills > li:not(.active) > a:visited{
	text-decoration: none;
	color: #222;
}

.nav{
	background: white;
}

/*Portfolio */

li > dl{
	margin-bottom: 30px;
}

.img-about{
	border: 30px;
	border-radius: 150px;
}

dd span{
	font-size: 14px;
	border-left: 3px solid transparent;
	padding-left: 4px;
}

.pull-left{
	border-right: 2px solid #eee;
	padding-right: 30px;
	padding-bottom: 20px;
	margin-right: 20px; 
}

.portfolio .container, .resumo .container{
	padding: 20px;
}

.img-thumbnail{
	padding: 10px;
}

.portfolio .container .col-md-6{
}

/*Resumo*/

.dtTitle{
	font-size: 18px;
	color: #0c905d ;
}

/*Footer*/
.site-footer .container-fluid{
	background: linear-gradient(to bottom right, black, #222 ); /* Standard syntax */	
}

.site-footer p{
	color: #eee;
}

.site-footer h5{
	color: #777;
}

.site-footer a{
	color: #eee;
}