
<!DOCTYPE html>
<html lang="en" ng-app="myResumeApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Matheus Gerlack - Front-end / Web developer</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Google's fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--my CSS-->
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body> 

  <!-- hero -->
  <div class="jumbotron">
    <div class="container">
      <h1>Matheus Gerlack</h1>
      <hr>
      <p>front-end developer</p>
    </div>
  </div>

  <!-- content -->
  <section ng-controller="PanelController as panel">
    <!-- nav -->
    <div class="container" id="nav" role="navigation">
      <ul class="nav nav-pills">
        <li role="presentation" ng-class="{active:panel.isSelected(1)}"><a href="#" ng-click="panel.selectTab(1)">Resume</a></li>
        <li role="presentation" ng-class="{active:panel.isSelected(2)}"><a href="#" ng-click="panel.selectTab(2)">Portfolio</a></li>
      </ul>
    </div>

    <!-- resumo-->
    <div class="resumo" ng-show="panel.isSelected(1)">
      <div class="container">
        <div class="panel panel-default">
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item about">
              <dl>
                <dt class="dtTitle">About</dt>
                <br>
                <dd class="pull-left">Passionate about User Interface and Front-End development, where less is more. <br><br><span>Brazilian <br> <span>24 years </span>  <br> <span>Porto-Alegre RS</span></dd></span>
                <img src="img/Profile2.jpg" class="img-responsive img-about" width="150" height="150"> 
              </dl>
            </li>
            <li class="list-group-item education">   
              <dl>
                <dt class="dtTitle">Education</dt>
                <br>
                <dd>System Analysis and Deployment - UniRitter | Porto-Alegre 2014</dd>
              </dl>
            </li>
            <li class="list-group-item languages">           
              <dl>
                <dt class="dtTitle">Language</dt>
                <br>
                <dd><strong>English: </strong>Fluent</dt>
                <dd><strong>Spanish: </strong>Intermediate</dt>
                <dd><strong>Portuguese: </strong>Native</dt>  
              </dl>
            </li>       
            <li class="list-group-item courses">
              <dl>
                <dt class="dtTitle">Courses</dt>
                <br>
                <dd>JavaScript & JQuery @CodeCademy</dd>
                <dd>HTML & CSS + BootStrap @CodeCademy</dd>
                <dd>Shapping up with AngularJS @CodeSchool/Google</dd>
                <dd>English as a Second Language @Santa Fe/USA</dd>
              </dl>
            </li>
            <li class="list-group-item qualifications">
              <dl>
                <dt class="dtTitle">Qualifications</dt>
                <br>
                <dt>Web Development</dt>    
                <dd>HTML5 & CSS3</dd>
                <dd>Bootstrap Framework</dd>
                <dd>JavaScript/Jquery</dd>
                <dd>Angular JS</dd>
                <dd>SEO</dd>
                <dd>UI/UX principles</dd>
                <dd>Git/GitHub</dd>
                <dd>Yeoman(Grunt, Yo, Bower)</dd>
                <dd>LESS</dd>
                <dd>Google Material Design Lite</dd>
                <dd>Polymer</dd>
                <dd>PHP</dd>
                <dd>mySql</dd>
                <br></dd>
                <dt>Operational System</dt>
                <dd>Linux (Ubuntu - my current system)</dd>
                <dd>Windows Server 2003/2008/2012</dd>
                <dd>Windows 7/8/10</dd>
                <dd>ESXi</dd>
                <br></dd>
                <dt>Other</dt>
                <dd>Excel (advanced)</dd>
                <dd>WebServices (basic)</dd>
                <dd>Java (basic)</dd>
                <dd>C++ (basic)</dd>
                <dd>C# (basic)</dd>
              </dl>
            </li>
            <li class="list-group-item experience">
              <dl>
                <dt class="dtTitle">Job Experience</dt>
                <br>
                <dt>2014 - Actual | Call Center Support Analyst at Dell Computers</dt>
                <dd>Strategy, SQL/VBA reporting, proccess implementation.</dd>
                <br>
                <dt>2013 - 2013 | Intern | Training Lab Supervisor at Dell Computers </dt>
                <dd>Enterprise laboratory management</dd>
                <br>
                <dt>2011 - 2011 | Intern | Support at Dell Computers </dt>
                <dd>Excel macro implement/management,team's proccess management.</dd>
                <br>
                <dt>2010 - 2010 | Intern | Web site management at MVD Automation</dt>
                <dd>HTML, CSS.</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- portfolio -->
    <div class="portfolio" ng-show="panel.isSelected(2)">  
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12 portDiv" ng-repeat="thumbnail in panel.portfolio">
          <a href="{{thumbnail.address}}">
            <img class="img-responsive" ng-src="{{thumbnail.src}}" alt="{{thumbnail.alt}}">
            <i class="fa fa-external-link fa-3x imgDescription"></i>
          </a>
          </div>
        </div>
      </div>  
    </div>
  </section>

  <!-- footer -->
  <div class='site-footer'>
    <div class="container-fluid">
      <ul class="list-inline">
        <li class="col-md-4 col-xs-6 text-center">
          <address>
            <h5>Contact</h5>
            <p><a href="#malito">matheusfgk@gmail.com</a></p>
          </address>
        </li>
        <li class="col-md-4 col-xs-6 text-center">
          <h5>Tools used on this WebApp</h5>
          <p>Twitter Bootstrap, HTML5, CSS3, AngularJS, JQuery</p>
        </li>
        <li class="col-md-4 col-xs-12 text-center">
          <h5>Mobile Ready</h5>
          <i class="fa fa-mobile fa-2x"></i>
        </li>
      </ul>
    </div>  
  </div> 

  <scripts>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/app.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </scripts>    

</body>
</html>